<?xml version="1.0"?>
<!--
Web.config file for OAuth2.Example2.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
<section name="oauth2" type="OAuth2.Configuration.OAuth2ConfigurationSection, OAuth2, Version=0.1.*, Culture=neutral"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <oauth2>
    <services>
      <add clientType="GoogleClient"
           enabled="false"
           clientId="000000000000.apps.googleusercontent.com"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAA"
           scope="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"
           redirectUri="http://mymachine.net:53023/Auth" />
      <add clientType="FacebookClient"
           enabled="false"
           clientId="000000000000000"
           clientSecret="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
           scope="email"
           redirectUri="http://mymachine.net:53023/Auth" />
      <add clientType="VkClient"
           enabled="false"
           clientId="AAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           scope="offline"
           redirectUri="~/Auth" />
      <add clientType="TwitterClient"
	         enabled="false"
           clientId="AAAAAAAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           redirectUri="http://mymachine.net:53023/Auth" />
      <add clientType="LinkedInClient"
	         enabled="false"
           clientId="aaaaaaaaaaaa"
           clientSecret="AAAAAAAAAAAAAAAA"
           redirectUri="http://mymachine.net:53023/Auth" />
      <add clientType="OdnoklassnikiClient"
           enabled="false"
           clientId="AAAAAAA"
           clientSecret="AAAAAAAAAAAA"
           clientPublic="AAAAAAAAAAAAAAAAA"
           redirectUri="~/auth" />
      <add clientType="YandexClient"
           enabled="false"
           clientId="AAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAA"
           redirectUri="~/auth" />
      <add clientType="MailRuClient"
           enabled="false"
           clientId="AAAAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           redirectUri="~/auth" />
      <add clientType="FoursquareClient"
           enabled="false"
           clientId="AAAAAAAAAAAAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           redirectUri="~/auth" />
      <add clientType="WindowsLiveClient"
           enabled="false"
           clientId="AAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           scope="wl.basic wl.emails"
           redirectUri="~/auth" />
      <add clientType="InstagramClient"
		   enabled="false"
           clientId="AAAAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           scope="basic"
           redirectUri="~/auth" />
      <add clientType="DigitalOceanClient"
		   enabled="false"
           clientId="AAAAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           scope="read write"
           redirectUri="~/auth" />
      <add clientType="ZuulClient"
			     enabled="true"
		       clientId="e47d598656dadaa9550a90a43394300f995b5e9c34b788a5f9130e8a5b4de80b"
           clientSecret="92994105403cfedf2342d56c954c00cbb6272df2303242e2938d27eeb64b08dc"
           scope="zuul_client"
           redirectUri="urn:ietf:wg:oauth:2.0:oob"
           baseUri="http://authenticate.stage.nuvi.com/"
        />
    </services>
  </oauth2>



  <system.web>
    <!-- 
		    Set compilation debug="true" to insert debugging 
		    symbols into the compiled page. Because this 
		    affects performance, set this value to true only 
		    during development.
		-->
    <compilation defaultLanguage="C#" debug="false">
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=5.2.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.web.extensions />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>