@using OAuth2.Example
@model IEnumerable<OAuth2.Example.Models.LoginInfoModel>

@foreach (var loginInfo in Model)
{
    <p><a href="javascript:authorize('@loginInfo.ProviderName');">Log In (@loginInfo.ProviderName)</a></p>
}

<script type="text/javascript">
    //<![CDATA[

    function post_to_url(path, params, method) {
        method = method || "post";

        var form = document.createElement("form");

        //Move the submit function to another variable
        //so that it doesn't get overwritten.
        form._submit_function_ = form.submit;

        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for (var key in params) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }

        document.body.appendChild(form);
        form._submit_function_(); //Call the renamed function.
    }


    function authorize(providerName) {
        post_to_url(window.location, { providerName: providerName });
    }
    //]]>
</script>
