@using OAuth2.Example
@model IEnumerable<OAuth2.Example.Models.LoginInfoModel>

@foreach (var loginInfo in Model)
{    
    <p>@Html.ActionLink(string.Format("Log In ({0})", loginInfo.ProviderName), "login", "home", new { providerName = @loginInfo.ProviderName.ToLower()}, null)</p>    
}

