<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net40" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net4" userInstalled="true" />
  <package id="RestSharp" version="105.2.3" targetFramework="net4" userInstalled="true" />
</packages>