<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net40" />
  <package id="EntityFramework" version="4.1.10331.0" targetFramework="net40" />
  <package id="jQuery" version="1.5.1" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.11" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.8.0" targetFramework="net40" />
  <package id="jQuery.vsdoc" version="1.5.1" targetFramework="net40" />
  <package id="Modernizr" version="1.7" targetFramework="net40" />
  <package id="RestSharp" version="103.4" targetFramework="net40" />
</packages>