<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="oauth2" type="OAuth2.Configuration.OAuth2ConfigurationSection, OAuth2, Version=0.1.*, Culture=neutral"/>
  </configSections>

  <oauth2>
    <services>
      <add clientType="GoogleClient"
           enabled="false"
           clientId="000000000000.apps.googleusercontent.com"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAA"
           scope="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"
           redirectUri="http://mymachine.net:53023/Auth" />
      <add clientType="FacebookClient"
           enabled="false"
           clientId="000000000000000"
           clientSecret="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
           scope="email"
           redirectUri="http://mymachine.net:53023/Auth" />
      <add clientType="VkClient"
           enabled="false"
           clientId="AAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           scope="offline"
           redirectUri="~/Auth" />
      <add clientType="TwitterClient"
	         enabled="false"
           clientId="AAAAAAAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           redirectUri="http://mymachine.net:53023/Auth" />
      <add clientType="LinkedInClient"
	         enabled="false"
           clientId="aaaaaaaaaaaa"
           clientSecret="AAAAAAAAAAAAAAAA"
           redirectUri="http://mymachine.net:53023/Auth" />
      <add clientType="OdnoklassnikiClient"
           enabled="false"
           clientId="AAAAAAA"
           clientSecret="AAAAAAAAAAAA"
           clientPublic="AAAAAAAAAAAAAAAAA"
           redirectUri="~/auth" />
      <add clientType="YandexClient"
           enabled="false"
           clientId="AAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAA"
           redirectUri="~/auth" />
      <add clientType="MailRuClient"
           enabled="false"
           clientId="AAAAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           redirectUri="~/auth" />
      <add clientType="FoursquareClient"
           enabled="false"
           clientId="AAAAAAAAAAAAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           redirectUri="~/auth" />
      <add clientType="WindowsLiveClient"
           enabled="false"
           clientId="AAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           scope="wl.basic wl.emails"
           redirectUri="~/auth" />
      <add clientType="InstagramClient"
           clientId="AAAAAAAAAAAAAAAAAAA"
           clientSecret="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
           scope="basic"
           redirectUri="~/auth" />
    </services>
  </oauth2>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>