<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oauth2" type="OAuth2.Configuration.OAuth2ConfigurationSection, OAuth2"/>
  </configSections>
  <appSettings>
    <add key="Key" value="Value"/>    
  </appSettings>  
  <oauth2>
    <services>
      <add clientType="SomeClient" clientId="SomeClientId" clientSecret="SomeClientSecret" 
           scope="SomeScope" redirectUri="https://some-redirect-uri.net" />
      <add clientType="SomeAnotherClient" clientId="SomeAnotherClientId" clientSecret="SomeAnotherClientSecret" 
           scope="SomeAnotherScope" redirectUri="https://some-another-redirect-uri.net" />
    </services>
  </oauth2>
</configuration>