<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.3.0" targetFramework="net4" userInstalled="true" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net4" userInstalled="true" />
  <package id="NSubstitute" version="1.8.2" targetFramework="net4" userInstalled="true" />
  <package id="NUnit" version="2.6.0.12054" targetFramework="net4" userInstalled="true" />
  <package id="RestSharp" version="105.1.0" targetFramework="net4" userInstalled="true" />
</packages>